body{

  margin:0;
  font-family:'Poppins', sans-serif;

  background:
  linear-gradient(to bottom, #300000, #120000);

  color:white;
  overflow-x:hidden;
}

.background-hearts{

  position:fixed;
  width:100%;
  height:100%;

  background-image:
  radial-gradient(circle, rgba(255,255,255,0.12) 2px, transparent 2px);

  background-size:50px 50px;

  animation:moveBackground 25s linear infinite;

  z-index:-1;
}

@keyframes moveBackground{

  from{
    transform:translateY(0);
  }

  to{
    transform:translateY(-100px);
  }
}

.hero{

  text-align:center;
  padding:100px 20px 50px;
}

.hero h1{

  font-size:80px;
  font-family:'Great Vibes', cursive;
  color:#ffd6dc;
}

.subtitle{

  font-size:32px;
  color:#ffb6c1;
}

.main-message{

  max-width:700px;
  margin:auto;

  font-size:20px;
  line-height:1.8;
}

section{

  margin:50px auto;
  width:90%;
  max-width:1000px;

  background:rgba(255,255,255,0.05);

  border:1px solid rgba(255,255,255,0.1);

  border-radius:30px;

  padding:40px;

  backdrop-filter:blur(10px);
}

h2{

  text-align:center;
  margin-bottom:30px;

  color:#ffd1dc;
}

.music-section{

  text-align:center;
}

.photo-grid{

  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.photo-grid img{

  width:260px;
  height:320px;

  object-fit:cover;

  border-radius:25px;

  border:4px solid #ff4d6d;

  transition:0.3s;

  box-shadow:0 0 25px rgba(255,255,255,0.15);
}

.photo-grid img:hover{

  transform:scale(1.05);
}

.bouquet-image{

  width:300px;
  display:block;

  margin:auto;

  border-radius:25px;

  margin-bottom:30px;
}

.flower-card{

  background:rgba(255,255,255,0.07);

  padding:20px;

  border-radius:20px;

  margin-top:20px;
}

.letter{

  background:rgba(255,255,255,0.08);

  padding:30px;

  border-radius:20px;

  line-height:1.9;

  font-size:18px;
}

.voucher-section{

  text-align:center;
}

.voucher-card{

  background:#650014;

  width:300px;

  margin:auto;

  padding:30px;

  border-radius:25px;

  box-shadow:0 0 30px rgba(255,255,255,0.1);
}

#voucher-count{

  font-size:80px;
  margin:10px 0;
}

button{

  background:#ff4d6d;

  color:white;

  border:none;

  padding:15px 30px;

  border-radius:20px;

  font-size:18px;

  cursor:pointer;

  transition:0.3s;
}

button:hover{

  transform:scale(1.05);
  opacity:0.9;
}

footer{

  text-align:center;

  padding:50px;

  font-size:22px;

  color:#ffb6c1;
}

@media(max-width:768px){

  .hero h1{
    font-size:55px;
  }

  .subtitle{
    font-size:24px;
  }

  .photo-grid img{

    width:100%;
    height:auto;
  }
}
.voucher-container{

  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.voucher-card h3{

  color:#ffd1dc;
  margin-bottom:15px;
}
